<!DOCTYPE html>
<html lang="en-US">

<head>
    {% load static %}
    <title>What's Down?</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.png' %}" />
    <link id="style" rel="stylesheet" href="{% static 'css/dark.css' %}" />
    <script src="{% static 'js/common.js' %}"></script>
</head>

<body>
    <div class="confirm-container">
        <header>
            <div class="header-buttons">
                <a class="logo-link" href="{% url 'main:index' %}">
                    <img id="logo" class="logo" src="{% static 'images/logo-dark.png' %}" alt="What's Down"
                        title="What's Down?">
                </a>
                <div class="header-links">
                    <a class="profile-link" href="{% url 'main:viewProfile' username %}"
                        title="View Profile">{{ username }}</a>
                </div>
                <label class="theme-toggle" title="Change Theme"><input id="theme" type="checkbox"
                        onclick="toggleTheme();" checked>&nbsp;Dark</label>
            </div>
        </header>
        <main>
            <div class="confirm-main">
                <div class="confirm-heading">{{ confirm_fields.heading }}</div>
                {% if confirm_fields.body %}
                <div class="confirm-body">
                    <pre>{{ confirm_fields.body|safe }}</pre>
                </div>
                {% else %}
                <div class="blank"></div>
                {% endif %}
                <div class="confirm-buttons">
                    <a class="confirm-back" href="{% url 'main:create' %}">Back</a>
                    <a class="confirm-submit" href="{% url 'main:createPost' %}">Confirm</a>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-buttons">
                <a class="logout-link" href="{% url 'main:logout' %}" title="Log out from What's Down">Logout</a>
                <div class="footer-text">Made with ❤️</div>
                <a class="about-link" href="{% url 'main:about' %}">About</a>
            </div>
        </footer>
    </div>
</body>

</html>