<!DOCTYPE html>
<html lang="en-US">

<head>
    {% load static %}
    <title>What's Down?</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.png' %}" />
    <link id="style" rel="stylesheet" href="{% static 'css/dark.css' %}" />
    <script src="{% static 'js/common.js' %}"></script>
</head>

<body>
    <div class="index-container">
        <header>
            <div class="header-buttons">
                <a class="logo-link" href="{% url 'main:index' %}">
                    <img id="logo" class="logo" src="{% static 'images/logo-dark.png' %}" alt="What's Down"
                        title="What's Down?">
                </a>
                <label class="theme-toggle" title="Change Theme"><input id="theme" type="checkbox"
                        onclick="toggleTheme();" checked>&nbsp;Dark</label>
            </div>
        </header>
        <main>
            <div class="index-main">
                <div class="index-title">An Open Community For The Curious</div>
                <a class="index-card signup" href="{% url 'main:signup' %}" title="Create an account on What's Down">
                    <div class="index-card-title">Signup</div>
                    <div class="index-card-body">Create a free account</div>
                </a>
                <a class="index-card continue" href="{% url 'main:content' %}"
                    title="Continue to What's Down without logging in">
                    <div class=" index-card-title">Continue</div>
                    <div class="index-card-body">Without login</div>
                </a>
            </div>
        </main>
        <footer>
            {% if message %}
            <div class="login-error">{{ message }}</div>
            {% endif %}
            <div class="login-form">
                <form id="login" method="POST" action="{% url 'main:login' %}">
                    {% csrf_token %}
                    <div class="login-fields">
                        <input id="user" class="login-field" type="text" name="username" placeholder="Username or Email"
                            {% if login_username %} value="{{ login_username }}" {% endif %} required>
                        <input id="pass" class="login-field" type="password" name="password" placeholder="Password"
                            required>
                        <label class="remember-checkbox">
                            <input type="checkbox" name="remember" checked>&nbsp;Keep Me
                            Signed In
                        </label>
                        <input type="submit" hidden>
                    </div>
                </form>
            </div>
            <div class="footer-buttons">
                <a class="login-link" href="#" onclick="document.getElementById('login').submit();"
                    title="Sign in to What's Down">Login</a>
                <div class="footer-text">Made with ❤️</div>
                <a class="about-link" href="{% url 'main:about' %}" title="About Us">About</a>
            </div>
        </footer>
    </div>
</body>

</html>